.body-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 45px;
    margin-left: 20px;
    margin-right: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
    margin-right: 20px;
}

.header {
    display: flex;
}

.header img {
    width: 50px;
    height: 40px;
    margin-top: 25px;
    padding-right: 5px;
}

.title-text {
    color: rgb(182, 25, 196);
}

.user {
    display: flex;
}

.user img {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    padding-right: 5px;
}

.user-details {
    display: flex;
    gap: 25px;
    border: 1px solid rgb(0, 98, 255);
    border-radius: 20px;
    padding: 0 10px;
    background-color: rgb(6, 61, 43);
    color: white;
    margin-top: 20px;
}